<div layout="row" layout-wrap>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.GENERAL_INFORMATION">General Information</div>
                <md-button ng-click="vm.openGeneralInformationDialog($event)"
                           aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
                  <md-icon class="material-icon">edit</md-icon>
                </md-button>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.GENDER">Gender</div>
                    <div class="info">{{vm.about.gender}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.BIRTHDAY">Birthday</div>
                    <div class="info">{{vm.about.birthday}}</div>
                </div>s

                <div class="info-line">
                    <div class="title" translate="PROFILE.LOCATIONS">Locations</div>
                    <div class="info location" ng-repeat="location in vm.about.general.locations">
                        <span>{{location}}</span>
                        <md-icon md-font-icon="icon-map-marker" class="s16"></md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
          <header class="md-accent-bg" layout="row">
            <div class="title" translate="PROFILE.CONTACT">Contact</div>
            <md-button ng-click="vm.openContactInfoDialog($event)"
                       aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
              <md-icon class="material-icon">edit</md-icon>
            </md-button>
          </header>
          <div class="content">
            <div class="info-line">
              <div class="title" translate="PROFILE.ADDRESS">Address</div>
              <div class="info">{{vm.about.address.lineone}} {{vm.about.address.city}}, {{vm.about.address.state}} {{vm.about.address.zip}}</div>
            </div>
            <div class="info-line">
              <div class="title" translate="PROFILE.TEL">Tel.</div>
              <div class="info">
                <span>{{vm.about.phone | tel}}</span>
              </div>
            </div>
            <div class="info-line">
              <div class="title" translate="PROFILE.EMAILS">Emails</div>
              <div class="info">
                <span>{{vm.about.email}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row">
                <div class="title" translate="PROFILE.WORK">Work</div>
              <md-button ng-click="vm.openProfileDialog($event)"
                         aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
                <md-icon class="material-icon">edit</md-icon>
              </md-button>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.OCCUPATION">Occupation</div>
                    <div class="info">{{vm.about.jobTitle}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.JOBS">Jobs</div>
                    <table class="info jobs">
                        <tr class="job" >
                            <td class="company">{{jvm.about.company}}</td>
                            <td class="date">{{vm.about.jobTitle}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>

   <!-- <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
        <div class="profile-box friends md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.FRIENDS">Friends</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>454</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>
    </div>-->

</div>
