<div id="e-commerce-order" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <md-button class="goto-orders-button md-icon-button" aria-label="Go to orders"
                 ng-click="vm.gotoOrders()"
                 translate translate-attr-aria-label="EC.GO_TO_ORDERS">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>

      <div layout="column" layout-align="start start">
        <div class="h2">
          <span translate="EC.ORDER">Order</span>
          <span>{{vm.order.reference}}</span>
        </div>

        <div class="subtitle secondary-text">
          <span translate="EC.FROM">from</span>
          <span>{{vm.order.parent.firstName}} {{vm.order.parent.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height>

      <md-tab>
        <md-tab-label>
          <span translate="EC.PAYMENT_DETAILS">Space Details</span>
        </md-tab-label>

        <md-tab-body>
          <form name="spaceForm" layout-gt-md="row" layout-padding flex>
            <div layout="column" layout-padding flex="50">
              <div layout="row" layout-align="space-between start">
                <md-input-container>
                  <label>Space Name</label>
                  <input type="text" ng-model="space.name" required/>
                </md-input-container>
              </div>
              <div layout="row" ng-show="!space.location._id" layout-align="space-between start" flex>
                <md-input-container ng-show="!space.location._id">
                  <label>Location</label>
                  <md-select ng-model="selectedLocation" required>
                    <md-option ng-repeat="location in locations" ng-value="location">{{location.name}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="row" ng-show="!!space.location._id" layout-align="space-between start" flex>

                <div layout="row" flex="50" layout-align="space-between start"><label>Location:</label> {{space.location.name}}</div>
                <div class="manageRowOptions">
                  <div class="trash" ng-click="deleteLocation()">
                    <img src="images/delete.png" width="14" height="16"/>
                  </div>
                </div>
              </div>
              <div layout="row" layout-align="space-between start">
                <md-input-container class="md-block" md-no-float flex="90">
                  <textarea autofocus placeholder="Description (Press Enter for New Line)" ng-model="space.description"></textarea>
                </md-input-container>
              </div>
            </div>
            <md-divider></md-divider>
            <div layout="column" layout-padding flex="50">
              <div layout="row" layout-align="start center" layout-padding>
                <md-button ng-click="selectFaculty()" class="md-primary md-fab md-mini">
                  <md-icon class="material-icons">add</md-icon>
                </md-button>
                Add Faculty
              </div>
              <div class="manageRowSpace" layout="row" ng-repeat="member in space.faculty" layout-align="space-around center" flex>
                <div class="manageRowName">
                  {{member.legal_name.first}} {{member.legal_name.last}}
                </div>
                <div class="manageRowOptions">
                  <div class="trash" ng-click="deleteFaculty(member._id, $index)">
                    <img src="images/delete.png" width="14" height="16"/>
                  </div>
                </div>
              </div>
              <div layout="row" layout-align="start center" layout-padding>
                <md-button ng-click="selectStudent()" class="md-primary md-fab md-mini">
                  <md-icon class="material-icons">add</md-icon>
                </md-button>
                Add Student
              </div>
              <div class="manageRowSpace" layout="row" ng-repeat="student in space.students" layout-align="space-around center" flex>
                <div layout="row" layout-align="start" flex="50">
                  {{student.legal_name.first}} {{student.legal_name.last}}
                </div>
                <div class="manageRowOptions">
                  <div class="trash" ng-click="deleteStudent(student._id, $index)">
                    <img src="images/delete.png" width="14" height="16"/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <span translate="EC.STUDENTS">Student(s)</span>
        </md-tab-label>
        <md-tab-body>
          <div class="order-detail-form-container products md-background-bg md-whiteframe-1dp">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                   dt-options="vm.dtOptions">
              <thead>
              <tr>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">ID</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Name</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Tuition</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Actions</span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="student in ::vm.order.students">
                <td>{{student._id}}</td>
                <td>
                  <div layout="row" layout-align="start center">
                    <img class="avatar" ng-src="{{student.avatar}}">
                    <span class="name text-nowrap">{{student.firstName}} {{student.lastName}}</span>
                  </div>
                </td>
                <td>{{student.price}}</td>
                <td>
                  <md-button class="edit-button md-icon-button"
                             ng-click="vm.gotoProductDetail(student._id)"
                             aria-label="Product details"
                             translate translate-attr-aria-label="EC.STUDENT_DETAIL">
                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                  </md-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span translate="EC.STUDENTS">Faculty</span>
        </md-tab-label>
        <md-tab-body>

        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</div>

<md-content layout="column" >

  <div layout="row" layout-align="start" flex>
    <div layout="row" layout-align="space-bettwen" flex="50">
      <md-button class="blueButton" ng-click="create(space)" ng-show="!space._id" ng-disabled="userForm.$invalid">CREATE</md-button>
      <md-button class="blueButton" ng-click="update(space)" ng-show="!!space._id">UPDATE</md-button>
      <md-button class="ghostButton">CANCEL</md-button>
    </div>
  </div>
</md-content>

